.c-pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.max-width-30 {
  max-width: 30rem;
}

.error {
  input {
    border: 1px solid var(--bs-danger);
  }
}

.modal {
  .modal-header,
  .modal-footer {
    padding: 16px !important;
  }
}

.sticky-top {
  z-index: 10 !important;
}

.tooltip > .tooltip-inner {
  background-color: var(--bs-primary);
  color: white;
  border: 1px solid var(--bs-primary);
}

.bs-tooltip {
  &-end {
    .tooltip-arrow:before {
      border-right-color: var(--bs-primary) !important;
    }
  }
  &-start {
    .tooltip-arrow:before {
      border-left-color: var(--bs-primary) !important;
    }
  }
  &-top {
    .tooltip-arrow:before {
      border-top-color: var(--bs-primary) !important;
    }
  }
  &-bottom {
    .tooltip-arrow:before {
      border-bottom-color: var(--bs-primary) !important;
    }
  }
}

.bs-tooltip-auto[data-popper-placement^='right'] .tooltip-arrow:before {
  border-right-color: var(--bs-primary) !important;
}
.bs-tooltip-auto[data-popper-placement^='left'] .tooltip-arrow:before {
  border-left-color: var(--bs-primary) !important;
}
.bs-tooltip-auto[data-popper-placement^='top'] .tooltip-arrow:before {
  border-top-color: var(--bs-primary) !important;
}
.bs-tooltip-auto[data-popper-placement^='bottom'] .tooltip-arrow:before {
  border-bottom-color: var(--bs-primary) !important;
}

.alert {
  &-warning {
    color: var(--bs-alert-color);
  }
}

.nav-pills {
  .nav-item {
    margin: 0;
  }
}
.nav-tabs:not(.nav-vertical) .nav-link {
  border-radius: 0;
  padding: 12px 16px;
  text-align: center;
}
.nav-segment .nav-link {
  &.active {
    border: 0;
  }
}
