@import './packages';
:root {
  --bs-primary: #3baf29;
  --body-font-family: 'NunitoSans-Regular';
  --body-font-size: 13px;
  --body-color: #f8f8f8;
  --color: #333333;
  --bs-link-hover-color: #666;
  --transitionTime: 0.3s;
  --navbar-bg: #eee;
  --field-border-color: #eeeeee;
}

$primary: #3baf29;
$secondary: #445f8a;
$success: #1aaa63;
$warning: #e4cd19;
$danger: #f41b0b;
$color: #333;
$menuOpenWidth: 250;

::-webkit-scrollbar {
  width: 5px;
  border-radius: 6px;
  margin-right: -10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: var(--bs-primary);
}

::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

html,
body,
#kolaygelsin {
  height: 100%;
  padding: 0;
  margin: 0;
}

html {
  height: -webkit-fill-available;
  zoom: 0;
}
body {
  margin: 0;
  padding: 0;
  font-size: var(--body-font-size);
  color: var(--color);
  font-family: var(--body-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: auto;

  @media screen and (max-width: 768px) {
    input[type='text'],
    input[type='password'],
    input[type='number'],
    textarea {
      font-size: 16px;
    }
  }
}

a {
  color: inherit;
}

.page-container {
  width: calc(100% - 68px);
  margin-left: 68px;
  height: 100%;
  padding: 10px 20px 0 20px;
  border-radius: 10px;
  transition: var(--transitionTime);

  &.open {
    width: calc(100% - #{$menuOpenWidth + 30}px);
    margin-left: calc(#{$menuOpenWidth + 30}px);
  }

  @media screen and (max-width: 768px) {
    width: 100% !important;
    display: block;
    margin-left: 0px;

    &.open {
      width: 100%;
      margin-left: 0;
    }
  }
}

.btn {
  &-primary {
    &:hover,
    &:focus,
    &:active {
      background-color: darken($primary, 10%);
      border-color: darken($primary, 10%);
      box-shadow: none;
    }
  }
}
