$primary: #3baf29;
$secondary: #445f8a;
$success: #1aaa63;
$warning: #e4cd19;
$danger: #f41b0b;
$color: #333;

@import './packages';

:root {
  --bs-primary: #3baf29;
  --body-font-family: 'NunitoSans-Regular';
  --body-font-size: 13px;
  --body-color: #f8f8f8;
  --color: #333333;
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--body-font-size);
  background-color: var(--body-color);
  color: var(--color);
  font-family: var(--body-font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f8f8;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 6px;
  margin-right: -10px;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: var(--bs-primary);
}

::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color);
  &:hover,
  &visit {
    color: darken($primary, 10%) !important;
  }
}

.page-container {
  width: calc(100% - 58px);
  background: #f8f8f8;
  height: calc(100vh - 20px);
  padding: 10px 20px 0 20px;
  border-radius: 10px;
  overflow: auto;
  overflow-x: hidden;
  &.open {
    width: calc(100% - 250px);
  }
}

.btn {
  &-primary {
    &:hover,
    &:focus,
    &:active {
      background-color: darken($primary, 10%);
      border-color: darken($primary, 10%);
      box-shadow: none;
    }
  }
}
