.password-eye {
  top: 11px;
  right: 20px;
  z-index: 10;
}

.error {
  select {
    border: 1px solid var(--bs-danger);
  }

  .react-select {
    &__control {
      border-color: var(--bs-danger) !important;
    }
  }
}

.react-select {
  &__control {
    border-color: var(--field-border-color) !important;
  }
  &__indicator-separator {
    background-color: var(--field-border-color) !important;
  }
}
