.password-eye {
  top: 14px;
  right: 20px;
}

.error {
  select {
    border: 1px solid var(--bs-danger);
  }
  // .react-select {
  //   &__control {
  //     border-color: var(--bs-danger) !important;
  //   }
  // }
}

.react-select {
  &__control {
    border-color: var(--field-border-color) !important;
  }
  &__indicator-separator {
    background-color: var(--field-border-color) !important;
  }
}
