$sidebarLogoHeight: 70;
$nav-width: 68px;
$footerHeight: 88;
$sidebarFullWidth: 280;

.sidebar {
  position: fixed;
  width: $nav-width;
  top: 0;
  left: 0;
  transition: var(--transitionTime);
  background-color: var(--body-color);
  border-right: 1px solid var(--navbar-bg);
  height: 100%;
  z-index: 2;

  .nav-name {
    display: none;
  }

  &.open {
    width: #{$sidebarFullWidth}px;

    .nav-name {
      display: inline;
    }

    .nav {
      .order-list {
        padding: 0 0px 0 7px;

        .nav-link {
          margin-right: 0px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    left: -100px;
    transition: var(--transitionTime);

    &.open {
      left: 0px;
      position: absolute;
      display: block;
    }
  }

  .logo {
    height: #{$sidebarLogoHeight}px;
    text-decoration: none;
    padding-left: 18px;
  }
  .scroll-height-scroll {
    height: calc(100% - #{$footerHeight + $sidebarLogoHeight + 20}px);
    overflow-x: hidden;
    overflow-y: auto;
  }
  .nav-footer {
    position: absolute;
    height: #{$footerHeight}px;
    width: 100%;
    background-color: lighten(#cfcfcf, 10%);
    left: 0;
    bottom: 0;
    padding-top: 10px;

    .nav-list {
      list-style: none;
      padding: 0 7px 0 7px;
      margin: 0px;
    }
  }

  .nav {
    .order-list {
      list-style: none;
      width: #{$sidebarFullWidth - 14}px;
      padding: 0 0px 0 7px;
      margin: 0px;
    }
  }
}

.sidebar-toggle {
  position: fixed;
  top: 10px;
  left: 2px;
  padding: 7px;
  z-index: 3;
  transition: var(--transitionTime);

  i {
    position: fixed;
    font-size: 10px;
    top: 16px;
    left: 61px;
  }

  &.open {
    left: 268px;

    i {
      left: 276px;
    }

    &:after {
      content: '';
      left: 268px;
    }
  }

  &:after {
    content: '';
    position: fixed;
    width: 23px;
    height: 23px;
    transform: rotate(45deg);
    border-right: 1px solid var(--navbar-bg);
    border-top: 1px solid var(--navbar-bg);
    background: var(--body-color);
    border-radius: 0px 6px 0px 6px;
    left: 56px;
    top: 10px;
    z-index: -1;
  }

  @media screen and (max-width: 768px) {
    &:after {
      content: '';
      left: -10px;
    }

    i {
      left: 2px;
    }
  }
}
