$sidebarLogoHeight: 50px;
$nav-width: 68px;
$navbar-bg: #cfcfcf;
$footerHeight: 150;
$sidebarFullWidth: 280;

#sidebar {
  &:hover {
    ::-webkit-scrollbar {
      width: 5px;
      border-radius: 6px;
      margin-right: -10px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: var(--bs-primary);
    }

    ::-webkit-scrollbar {
      width: 5px;
      cursor: pointer;
    }
  }
}

.scroll-height-scroll {
  height: calc(var(--vh, 1vh) * 100 - #{$footerHeight}px);
  overflow: hidden;

  &:hover {
    overflow-y: visible;
    overflow-x: hidden !important;
  }

  @media screen and (max-width: 768px) {
    overflow-y: visible;
    overflow-x: hidden !important;
  }
}

.kolaygelsin-navbar {
  background-color: $navbar-bg;
  width: $nav-width;
  height: 100vh;
  padding: 8px 16px 0 0;
  transition: 0.5s;
  z-index: 10;

  &.show {
    left: 0;
    width: #{$sidebarFullWidth}px;
    padding: 0.5rem 0 0 0;
  }

  @media screen and (max-width: 768px) {
    display: none;

    &.show {
      position: absolute;
      display: block;
    }
  }
}

.nav {
  overflow: hidden;

  .nav_list {
    list-style: none;
    width: #{$sidebarFullWidth}px;

    ul {
      padding: 0 0 0 16px;
      list-style: none;
    }
  }
}

.nav_logo,
.nav_link {
  padding: 6px 0 6px 28px;
  text-decoration: none;
}

.nav_logo {
  margin-bottom: 10px;
  margin-left: -8px;
  position: relative;
  z-index: 2;
  height: $sidebarLogoHeight;
}

.nav_link {
  white-space: nowrap;
  position: relative;
  margin-bottom: 0;
  transition: 0.3s;

  &:hover {
    color: var(--bs-primary) !important;
  }

  .nav_icon {
    margin-right: 8px;
    width: 18px;
  }
  .caret_icon {
    right: 22px;
    top: 6px;
  }
}

.sidebar-toggle {
  position: absolute;
  top: 20px;
  right: -7px;
  padding: 7px;
  z-index: 2;

  i {
    position: absolute;
    font-size: 10px;
    color: var(--color);
  }

  &:after {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    transform: rotate(45deg);
    background: $navbar-bg;
    border-radius: 6px;
    right: 4px;
    top: 7px;
    z-index: -1;
  }

  @media screen and (max-width: 768px) {
    left: -2px;

    i {
      position: absolute;
      font-size: 12px;
      top: 11px;
      left: 4px;
    }

    &:after {
      content: '';
      width: 26px;
      height: 26px;
      top: 5px;
      right: -3px;
    }

    &.show {
      left: 274px;

      i {
        position: absolute;
        font-size: 12px;
        top: 11px;
        left: 6px;
      }
    }
  }
}

.sub-menu {
  .selected {
    &:after {
      content: '';
      position: absolute;
      left: -16px;
      top: 4px;
      background-color: var(--bs-primary);
      z-index: 100;
      width: 4px;
      height: 24px;
    }
  }
}
.selected {
  &:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 4px;
    background-color: var(--bs-primary);
    z-index: 100;
    width: 4px;
    height: 24px;
  }
}
