$sidebarWidth: 70;
$sidebarLogoHeight: 75;
$sidebarFooterHeight: 100;
$logoPadding: 10;
$nav-width: 68px;
$first-color: #cfcfcf;
$first-text-color: #333333;
$first-color-light: #afa5d9;
$footerHeight: 150;
$sidebarFullWidth: 280;

#sidebar {
  &:hover {
    ::-webkit-scrollbar {
      width: 5px;
      border-radius: 6px;
      margin-right: -10px;
    }
    ::-webkit-scrollbar-thumb {
      border-radius: 6px;
      background: var(--bs-primary);
    }

    ::-webkit-scrollbar {
      width: 5px;
      cursor: pointer;
    }
  }
}

.scroll-height-scroll {
  height: calc(100vh - #{$footerHeight}px) !important;
  overflow: hidden;

  &:hover {
    overflow-y: visible;
    overflow-x: hidden !important;
  }
}

.kolaygelsin-navbar {
  background-color: $first-color;
  width: $nav-width;
  height: 100vh;
  padding: 8px 16px 0 0;
  transition: 0.5s;
  z-index: 10;
  color: $first-text-color;

  &.show {
    left: 0;
    width: #{$sidebarFullWidth}px;
    padding: 0.5rem 0 0 0;
  }
}

.nav {
  background-color: $first-color;
  overflow: hidden;

  .nav_list {
    list-style: none;
    width: #{$sidebarFullWidth}px;

    ul {
      padding: 0 0 0 16px;
      list-style: none;
    }
  }
}

.nav_logo,
.nav_link {
  padding: 6px 0 6px 28px;
  text-decoration: none;
}

.nav_logo {
  margin-bottom: 10px;
  margin-left: -8px;
  position: relative;
  z-index: 2;
  height: 50px;
}

.nav_link {
  white-space: nowrap;
  position: relative;
  margin-bottom: 0;
  color: $first-text-color;
  transition: 0.3s;

  &:hover {
    color: var(--bs-primary);
  }

  .nav_icon {
    margin-right: 8px;
    width: 18px;
  }
  .caret_icon {
    right: 22px;
    top: 6px;
  }
}

.sidebar-toggle {
  position: absolute;
  top: 20px;
  right: -7px;
  color: $first-text-color;
  padding: 7px;
  z-index: 2;

  i {
    font-size: 10px;
  }

  &:after {
    content: '';
    position: absolute;
    width: 22px;
    height: 22px;
    transform: rotate(45deg);
    background: $first-color;
    border-radius: 6px;
    right: 4px;
    top: 7px;
    z-index: -1;
  }
}

.sub-menu {
  .selected {
    &:after {
      content: '';
      position: absolute;
      left: -16px;
      top: 4px;
      background-color: #37b149;
      z-index: 123123;
      width: 4px;
      height: 24px;
    }
  }
}
.selected {
  &:after {
    content: '';
    position: absolute;
    left: 0px;
    top: 4px;
    background-color: #37b149;
    z-index: 123123;
    width: 4px;
    height: 24px;
  }
}

.is-notification {
  &:after {
    content: '';
    position: absolute;
    top: -4px;
    left: 8px;
    width: 8px;
    height: 8px;
    background-color: red;
    border-radius: 50%;
  }
}

.menu-dropdown-options {
  i {
    top: 2px;
  }
}

#notification-menu {
  .popover-arrow {
    left: -40px !important;
  }
}
